In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/My Drive/students_placement.csv')

In [ ]:
df.shape

(300, 4)

In [ ]:
df.sample(5)

     cgpa   iq  profile_score  placed
254  7.34   97             51       1
261  7.51   90             69       1
193  8.37  107             58       0
6    7.40  100             71       1
173  7.22   94             58       1

In [ ]:
X = df.drop(columns=['placed'])
y = df['placed']

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

rf = RandomForestClassifier()

rf.fit(X_train,y_train)

y_pred = rf.predict(X_test)

accuracy_score(y_test,y_pred)

0.8833333333333333

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

knn = KNeighborsClassifier(n_neighbors=5)

knn.fit(X_train,y_train)

y_pred = knn.predict(X_test)

accuracy_score(y_test,y_pred)

0.9

In [ ]:
import pickle 
pickle.dump(knn,open('/content/drive/My Drive/model.pkl','wb'))